/* lato font family */

@font-face{
    font-family: Lato;
    src: url(../assets/fonts/Lato/Lato-Regular.ttf);

}

/* Pacifico font family  */

@font-face{
    font-family: Pacifico;
    src: url(../assets/fonts/Pacifico/Pacifico-Regular.ttf);
}

/* Righteous font Family */

@font-face{
    font-family: Righteous;
    src: url(../assets/fonts/Righteous/Righteous-Regular.ttf);
}

/* Roboto font Family */

@font-face{
    font-family: Roboto;
    src: url(../assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

/* Ubuntu font Family */

@font-face{
    font-family: Ubuntu;
    src: url(../assets/fonts/Ubuntu/Ubuntu-Regular.ttf);
}